<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flask and React Base</title>
</head>
<body>
  <div id="root"></div>  <script src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>